html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #87cefa;
}

#block {
  margin-top: 67px;
  border-radius: 10px;
  padding: 100px;
  color: black;
}

/* ------------------------------------------------------ */
.acrylic {
  /* Parent background + Gaussian blur */
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

  /* Exclusion blend */
  background-blend-mode: exclusion;

  /* Color/tint overlay + Opacity */
  background: rgba(255, 255, 255, 0.4);
}

/* ------------------------------------------------------- */
#btn_celsius {
  border-radius: 5px;
  margin-right: 1em;
  margin-bottom: 2em;
}

#btn_fahrenheit {
  border-radius: 5px;
}

.btn_on {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 255, 0, 0.3);
}

.btn_off {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 0, 0, 0.3);
}

a {
  color: red;
}

a:visited,
a:hover {
  color: red;
}

#creator {
  margin-top: 10px;
}

#credit {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #block {
    padding: 50px;
  }
}